.popup__name_modal {
font-family: 'Inter', Arial, sans-serif;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 15px;
letter-spacing: 0em;
text-align: left;
color: white;
margin-top: 10px;
}