.button_like {
    background-image: url(../../../images/Like.svg);
    background-position: center;
    background-repeat: no-repeat;
    height: 22px;
    width: 22px;
    border: none;


}

.button_like:hover {
    opacity: 0.5;
}
