.button_edit-avatar {
   padding: 0;
   border: 0;
   background: none;
   position: absolute;
   top: 0;
   left: 0;
   width: 120px;
   height: 120px;
   cursor: pointer;
   transition: background-color .2s linear;
   outline: none;  
}

@media (max-width: 900px) {
   .button_edit-avatar {
      margin-left: 25px;
   }
}

.button_edit-avatar:hover {
   background: url(../../../images/editAvatar.svg) center no-repeat rgba(0, 0, 0, .8);
}